<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.database">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Habit Tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Database">
        <activity android:name=".HabitStats"></activity>
        <!-- <activity android:name=".CardView"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".Notification" />
        <activity
            android:name=".InProgressHabits"
            android:label="Your Habits" />
        <activity
            android:name=".AccountSelection"
            android:label="Select an Account"/>

        <activity
            android:name=".LoginActivity">
            android:label="Login or Create an Account"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".DashboardActivity"
            android:label="Dashboard" />
        <activity
            android:name=".MainActivity"
            android:label="Add Habit"
            android:parentActivityName=".HomeActivity" />

        <receiver android:name=".AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>